@font-face {
  font-family: 'NanumSquare, sans-serif';
  font-style: normal;
  font-weight: 300;
  src: local('NanumSquare'),
    url('/fonts/NanumSquare/NanumSquareL.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NanumSquare/NanumSquareL.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareL.woff') format('woff'),
    url('/fonts/NanumSquare/NanumSquareL.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare, sans-serif';
  font-style: normal;
  font-weight: 400;
  src: local('NanumSquare'),
    url('/fonts/NanumSquare/NanumSquareR.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NanumSquare/NanumSquareR.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareR.woff') format('woff'),
    url('/fonts/NanumSquare/NanumSquareR.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare, sans-serif';
  font-style: normal;
  font-weight: 700;
  src: local('NanumSquare'),
    url('/fonts/NanumSquare/NanumSquareB.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NanumSquare/NanumSquareB.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareB.woff') format('woff'),
    url('/fonts/NanumSquare/NanumSquareB.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquare, sans-serif';
  font-style: normal;
  font-weight: 800;
  src: local('NanumSquare'),
    url('/fonts/NanumSquare/NanumSquareEB.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/NanumSquare/NanumSquareEB.woff2') format('woff2'),
    url('/fonts/NanumSquare/NanumSquareEB.woff') format('woff'),
    url('/fonts/NanumSquare/NanumSquareEB.ttf') format('truetype');
  font-display: swap;
}
